{% extends 'base.html' %}

{% block title %}Add Patient - Hospital Management System{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add New Patient</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.username.id_for_label }}">Username</label>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.name.id_for_label }}">Full Name</label>
                                    {{ form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">Email</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.password.id_for_label }}">Password</label>
                                    {{ form.password }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.age.id_for_label }}">Age</label>
                                    {{ form.age }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.gender.id_for_label }}">Gender</label>
                                    {{ form.gender }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.blood_group.id_for_label }}">Blood Group</label>
                                    {{ form.blood_group }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.contact_number.id_for_label }}">Contact Number</label>
                                    {{ form.contact_number }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.emergency_contact.id_for_label }}">Emergency Contact</label>
                                    {{ form.emergency_contact }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.address.id_for_label }}">Address</label>
                            {{ form.address }}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.allergies.id_for_label }}">Allergies</label>
                                    {{ form.allergies }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.medical_history.id_for_label }}">Medical History</label>
                                    {{ form.medical_history }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.current_medications.id_for_label }}">Current Medications</label>
                                    {{ form.current_medications }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.insurance_number.id_for_label }}">Insurance Number</label>
                                    {{ form.insurance_number }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Patient</button>
                            <a href="{% url 'hospital_admin_dashboard' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}